body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #242423;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
    text-decoration: underline;
    text-align: center;
    color: white;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    background-color: #333533;
    padding: 30px;
    color: #CFDBD5;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-size: 1.2rem;
}

form input {
    padding: 10px;
}

.label-valor {
    padding: 10px;
    padding-left: 0;
}

.inputs-radio {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    flex: 1;
}

.inputs-radio label {
    margin-bottom: 10px;
}

.inputs-text {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.inputs-text label {
    display: block;
    margin: 10px 0;
}

.inputs-mark {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

img {
    position: absolute;
    right: -40px;
    bottom: 0;
}

.swollen{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-enviar{
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}